<!DOCTYPE html>
<html ng-app="askingFormApp">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8"/>

    <title>HomeWork 3</title>

    <link rel="stylesheet" href="../../Libraries/bootstrap.css">
    <link rel="stylesheet" href="../../Libraries/bootstrap-theme.css">
    <script src="../../Libraries/angular.js" type="text/javascript"></script>

    <script>

        /*

         ### Задача 3
         Реализуйте SPA приложение, в котором пользователю представляется пройти тест из 5 вопросов,
         в каждом вопросе по 4 варианта ответа. Вопросы должны выбираться с помощью radio-button и
         когда выбран, например, вопрос №1, то на странице должны появится варианты ответа только
         для этого вопроса. В конце тестирования отобразите результат теста. При решении данной задачи используйте директиву ng-switch.


        */


        var model = [{ask: 'Вопрос 1'}, {ask: 'Вопрос 2'}, {ask: 'Вопрос 3'}, {ask: 'Вопрос 4'}, {ask: 'Вопрос 5'}]

        var askingForm = angular.module('askingFormApp',[]);

        askingForm.controller('askingFormCtrl', function($scope){
            $scope.data = model;
            $scope.askVisible = [1];


            $scope.openingFunc = function (event){
                $scope.askVisible = event.target.id;

            }
            $scope.readerFunc = function (event) {
                for (var i = 0; i < $scope.data.length; ++i){
                    var k = event.target.name;
                    var z = i+1;
                    if (k == ("asks"+z)){
                        $scope.data[i].ask = event.target.value;
                    }
                }
            }

        });
    </script>

</head>
<body ng-controller="askingFormCtrl">
<div class="container">
    <div class="row">
        <div class="col-md-12" ng-switch on="askVisible">
            <div class="empty">&nbsp;</div>
            <div class="jumbotron">
                <h1>Заполните анкету</h1>

            </div>
            <div class="alert alert-success" role="alert">
                <p id="val" ng-click="openingFunc($event)">Вопрос 1</p>
                <div ng-switch-when="1" class="asks">
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input1" name="asks1" value="Вопрос 1 - Ответ 1" checked> Ответ 1 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input1" name="asks1" value="Вопрос 1 - Ответ 2" > Ответ 2 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input1" name="asks1" value="Вопрос 1 - Ответ 3"> Ответ 3 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input1" name="asks1" value="Вопрос 1 - Ответ 4"> Ответ 4 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input1" name="asks1" value="Вопрос 1 - Ответ 5"> Ответ 5
                </div>
            </div>
            <div class="alert alert-success" role="alert">
                <p id="2" ng-click="openingFunc($event)">Вопрос 2</p>
                <div ng-switch-when="2" class="asks">
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input2" name="asks2" value="Вопрос 2 - Ответ 1" checked> Ответ 1 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input2" name="asks2" value="Вопрос 2 - Ответ 2"> Ответ 2 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input2" name="asks2" value="Вопрос 2 - Ответ 3"> Ответ 3 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input2" name="asks2" value="Вопрос 2 - Ответ 4"> Ответ 4 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input2" name="asks2" value="Вопрос 2 - Ответ 5"> Ответ 5
                </div>
            </div>
            <div class="alert alert-success" role="alert">
                <p id="3" ng-click="openingFunc($event)">Вопрос 3</p>
                <div ng-switch-when="3" class="asks">
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input3" name="asks3" value="Вопрос 3 - Ответ 1" checked> Ответ 1 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input3" name="asks3" value="Вопрос 3 - Ответ 2"> Ответ 2 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input3" name="asks3" value="Вопрос 3 - Ответ 3"> Ответ 3 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input3" name="asks3" value="Вопрос 3 - Ответ 4"> Ответ 4 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input3" name="asks3" value="Вопрос 3 - Ответ 5"> Ответ 5
                </div>
            </div>
            <div class="alert alert-success" role="alert">
                <p id="4" ng-click="openingFunc($event)">Вопрос 4</p>
                <div ng-switch-when="4" class="asks">
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input4" name="asks4" value="Вопрос 4 - Ответ 1" checked> Ответ 1 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input4" name="asks4" value="Вопрос 4 - Ответ 2"> Ответ 2 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input4" name="asks4" value="Вопрос 4 - Ответ 3"> Ответ 3 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input4" name="asks4" value="Вопрос 4 - Ответ 4"> Ответ 4 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input4" name="asks4" value="Вопрос 4 - Ответ 5"> Ответ 5
                </div>
            </div>
            <div class="alert alert-success" role="alert">
                <p id="5" ng-click="openingFunc($event)">Вопрос 5</p>
                <div ng-switch-when="5" class="asks">
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input5" name="asks5" value="Вопрос 5 - Ответ 1" checked> Ответ 1 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input5" name="asks5" value="Вопрос 5 - Ответ 2"> Ответ 2 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input5" name="asks5" value="Вопрос 5 - Ответ 3"> Ответ 3 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input5" name="asks5" value="Вопрос 5 - Ответ 4"> Ответ 4 <br />
                    <input type="radio" ng-click="readerFunc($event)" ng-model="input5" name="asks5" value="Вопрос 5 - Ответ 5"> Ответ 5
                </div>
            </div>
            <p>Ниже будут представлены ответы</p>
            <p>{{data[0].ask}}</p>
            <p>{{data[1].ask}}</p>
            <p>{{data[2].ask}}</p>
            <p>{{data[3].ask}}</p>
            <p>{{data[4].ask}}</p>
        </div>
    </div>
</div>
</body>
</html>