<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="toDoApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
        input.input-sm, input.checkbox, #completed, #description {
            margin-bottom: 15px;
        }

    </style>
    <title>ToDo List (Task2)</title>
    <script src="../../Libraries/angular.js"></script>
    <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
    <link href="../../Libraries/bootstrap-theme.css" rel="stylesheet" />
    <script>

        // Добавьте AngularJS контроллер

        var model = [{
            name: 'Task of homework',
            description: 'Do homework',
            date: '06/06/17',
            completed: false
        }];

        var toDoApp = angular.module('toDoApp',[])
            .controller('toDoCtrl', function($scope) {
                $scope.name = '';
                $scope.description = '';
                $scope.date = '';
                $scope.completed = '';
                $scope.editStatus = false;
                $scope.tasks = model;

                $scope.addTask = function() {

                    if($scope.date == '' || $scope.name == '' || $scope.description == '') {
                        alert("Нельзя оставлять поля пустыми");
                        return
                    }
                    if($scope.name) {
                        $scope.tasks.push({
                            name: $scope.name,
                            description: $scope.description,
                            date: $scope.date,
                            completed: $scope.completed
                        });

                        $scope.name = '';
                        $scope.description = '';
                        $scope.date = '';
                        $scope.completed = '';
                        $scope.editStatus = false;

                    };
                };
            });

    </script>

</head>
<body ng-controller="toDoCtrl">

<div class="container">

    <h3>ToDo List</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Completed</th>
        </tr>
        </thead>
        <tr ng-repeat="item in tasks">
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date}}</td>
            <td><input type="checkbox"/></td>
        </tr>
    </table>

    <div>
        <!-- Форма для добавления новых задач -->
        <form action="#">
            <div>
                <label for="name">Name</label>
                <input id="name" ng-model="name" class="form-control input-sm col-xs-12" type="text"/>
            </div>
            <div>
                <label for="date">Due Date</label>
                <input id="date" ng-model="date" class="form-control input-sm col-xs-12" type="text"/>
            </div>
            <div>
                <label for="description">Description</label>
                <textarea id="description" ng-model="description" class="col-xs-12 form-control" rows="2"></textarea>
            </div>
            <div>
                <label for="completed">Completed</label>
                <input  id="completed" class="checkbox" ng-model="completed" type="checkbox"/>
            </div>
            <div>
                <button  type="button" class="btn btn-default" ng-click="addTask()">Add</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
