<!DOCTYPE html>
<html lang="en" ng-app="Task2">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>ClassWork - Task 2</title>
    <script src="../../Libraries/angular.js"></script>
    <script src="js/module.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-controller="Task2Ctrl">
    <div>
        <input type="text" ng-model="typed">
    </div>
    <div>
        <button ng-click="showMe()">View Massage</button>
    </div>
    <div>
        <h1>{{massage}}</h1>
    </div>
</body>
</html>