<div class="panel well">
    <form name="contactForm">
        <label>username:   <input ng-model="params.name" type="text" class="input-lg form-control" name="userName" /></label><br />
        <label>age:   <input ng-model="params.age" type="text" class="input-lg form-control" name="age" /></label><br />
        <label>email: <input ng-model="params.email" type="email" class="input-lg form-control" name="userEmail" /></label><br />
        <label>employed: <input ng-checked="params.employed" type="checkbox" name="employed"></label><br />
        <input type="submit" class="btn-lg">
    </form>
</div>